name: CI/CD Pipeline

on:
  push:
    branches:
      - gcp


jobs:
  push_to_gcp_bucket:
    name: Build react website for GCP
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '18'

        - name: Install dependencies
          run: yarn install

        - name: Build
          run: yarn build

        - name: Create config.json
          run: |
            echo '{
              "REACT_APP_BACKEND_URL": "todoapp-api-r32ighfdsq-uc.a.run.app"
            }' > build/config.json

        - name: Setup GCP Authentication
          uses: google-github-actions/auth@v1
          with:
            credentials_json: ${{ secrets.GCP_SA_KEY }}

        - name: Upload build folder to GCP bucket
          uses: 'google-github-actions/upload-cloud-storage@v1'
          with:
            path: 'build'
            destination: 'todoapp-static-website-bucket'
            parent: false
